@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #000;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Open Sans', Arial, sans-serif;

}

a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}


a:hover, a:focus {
	color: #fff;
}

section {
	padding: 1em;
	text-align: center;
}
.section-grey{background-color: #e0e0e0;margin:5% 0!important;}
/* helping adds*/
.clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden;
}
.juster {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.vfix {
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}
.cfix:after {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden;
    display: block;
    content: '';
}


/* menu */
.menu { display: block; margin-top: 130px; margin-bottom: 50px; text-align: center;}
.menuButton {display: none;}
.menuList {padding-top: 10px; padding-left: 0; font-size: 0;}
.menuListItem { display: inline-block; vertical-align: middle; margin-right: 60px;}
.menuListItem:last-child {margin-right: 0;}
.menuLink { font-size: 18px; opacity: 0.5; color: #000; letter-spacing: 1px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.menuLink:hover,
.menuLink.active { color: #000; opacity: 1;}

@media screen and (max-width: 700px) {

        .menuButton {
            position: absolute;
            display:block;
            width: 22px;
            height:22px;
            cursor: pointer;
            outline: none;
            user-select: none;
            background: none;
            border: 0;
            top: 80px;
            right: 10px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .menuButton:before {
            content:'';
            position: absolute;
            left: -10px;
            top: -10px;
            bottom: -10px;
            right: -10px;
        }

        .menuIcon,
        .menuIcon:before,
        .menuIcon:after {
            display: block;
            width: 22px;
            height: 3px;
            background: #241f23;
            position: relative;
        }
        .menuIcon {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1px;
        }
        .menuIcon:before,
        .menuIcon:after {
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            -ms-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
            position: absolute;
            left: 0;
            content: '';
            -webkit-transform-origin: 1px center;
            transform-origin: 1px center;
        }
        .menuIcon:before {
            top: -7px;
        }
        .menuIcon:after {
            top: 7px;
        }
        .open .menuButton {
            -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
        }
        .open .menuIcon {    background: transparent;}
        .open .menuIcon:before,
        .open .menuIcon:after {
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            top: 0;
        }
        .open .menuIcon:before {
            -moz-transform: rotate3d(0, 0, 1, 45deg);
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            -o-transform: rotate3d(0, 0, 1, 45deg);
            -ms-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
        }
        .open .menuIcon:after {
            -moz-transform: rotate3d(0, 0, 1, -45deg);
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            -o-transform: rotate3d(0, 0, 1, -45deg);
            -ms-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
        }
        .menuContent {
            display: none;
            position: absolute;
            left: 0;
            top: 120px;
            right: 0;
            background: #fff;
            z-index: 999;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .menuList {
            border-top: 1px solid #e5e5e5;
            position: relative;
            padding-top: 0;
        }
        .menuListItem {
            display: block;
            border-bottom: 1px solid #e5e5e5;
            margin: 0;
        }
        .menuLink {
            display: block;
            padding: 20px 6%;
            text-align: left;
            color:#444;
            opacity: 1;
        }
        .footer .menuContent {display: none;opacity: 0;}
}

.mbox-full{
	width: 100%;
	margin:0;
	padding: 0;
	max-height: 840px;
	position: relative;
}
.mbox{
	width: 88%;
	max-width: 1440px;
	margin:0 auto;
	padding: 0;
	position: relative;
}
.mbox-light{
    width: 88%;
    max-width: 1200px;
    margin:0 auto;
    padding: 0;
    position: relative;
}
.mbox:before,
.mbox:after,
.mbox-light:before,
.mbox-light:after{
   width: 100%;
   content: "";
   display: table;
}

.left {
    width: 50%;
    height: auto;
    float: left;
    position: relative;
}
.right {
    width: 50%;
    height: auto;
    float: right;
    position: relative;
}
.center{
	text-align: center!important;
	margin: 0 auto;
}

.text-left{text-align: left; float: left}

.title{ font-size: 72px; display: block;}
.head{font-size: 55px; display: block;}
.sub-title{ font-size: 38px; display: block;}
.mini-title{font-size: 24px; display: block;}
.text{font-size: 16px; display: block; text-align: justify;}

@media screen and (max-width: 1440px) {

.title{ font-size: 55px;}
.head{font-size: 42px;}
.sub-title{ font-size: 32px;}
.mini-title{font-size: 22px}
.text{font-size: 14px;}

}
@media screen and (max-width: 1024px) {

.title{ font-size: 32px;}
.head{font-size: 24px;}
.sub-title{ font-size: 18px;}
.mini-title{font-size: 16px}
.text{font-size: 12px;}

}
@media screen and (max-width: 767px) {
	
.title{ font-size: 24px;}
.head{font-size: 22px;}
.sub-title{ font-size: 16px;}
.mini-title{font-size: 14px}
.text{font-size: 10px;}


}


/*breadcrums*/
.breadcrumb {
    padding: 20px 0;
    margin: 0;
    list-style: none;
    background-color: #fff;

}

.breadcrumb::after {
    content: "";
    display: table;
    clear: both
}

.breadcrumb-item {
    display: inline-block;
}
.breadcrumb-item a{
    color:#000;
    opacity: 0.5;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-transform: uppercase;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #000;
    opacity: .5;
    content: "/"
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none
}

.breadcrumb-item.active a,
.breadcrumb-item a:hover {
    color: #000;
    opacity: 1;
}
/**/

/*slider*/
.top-slider {z-index: 2;}
.top-slider img{ width: 100%; height: auto;}
.top-slider.slick-dotted.slick-slider{ margin-bottom: 0px!important}
.top-slider .slick-dots{ bottom: 10%!important; }
.slick-initialized .slick-slide{position: relative;}
.top-slider .slick-dots li.slick-active button:before{opacity: 1}
.top-slider .slick-dots li.slick-active button:before,
.top-slider .slick-dots li button:before {color: #fff;}

.slider-text{color: white; position: absolute; bottom: 20%; left: 0; right: 0; }


/*second block*/
.second-block{
	width: 100%;
	max-height: 800px;
	min-height: 600px;
	background-image: url("../img/second-block.jpg"); 
	background-color: #ccc;
	background-size: cover;
	background-position: center;
    background-repeat: repeat;
    z-index: 1;
    margin-top: -50px;
}
.cooking{padding: 15% 0}
.cooking-title,
.cooking-text{
	display: inline-block;
    width: 48%;
    vertical-align: middle;
}
.border-block{
	border: 1px solid;
    padding: 7% 10%;
    text-transform: uppercase;

}

.box-block{
	padding: 0% 0%;
    margin: 12% 12%;
    text-align: left;
    float: left;
}

@media screen and (max-width: 2500px) {

.second-block { margin-top: 7%;}
.three-block { margin-top: -5%; }

}
@media screen and (max-width: 2350px) {

.second-block{  margin-top: -50px;}
.three-block { margin-top: -7%; }

}

/*three block*/
.three-block{
	width: 100%;
	max-height: 800px;
	background-image: url("../img/three-block.png"); 
	background-color: rgba(255,255,255,0);
	background-size: 100% 100%;
	background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    margin-top: -7%; 
}
.made {
    margin-top: 6%;
    /* margin-right: -25%; */
}
.made-box,
.made-img {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}
.made-box .text{padding: 7% 12% 20%;text-align: justify;}
.made-box .head{padding-top: 5%}

.made-img img{
	width: 125%;
	margin-right: -85%;
}


/*4*/
.fourth-block{
	width: 100%;
	min-height: 400px;
	background-color: rgba(255,255,255,0);
	display: block;
	position: relative;

}
.fourth-block .circle{
	width: 80%;
    padding-bottom: 80%;
    -moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 1px solid #f00;
	position: absolute;
	bottom: 0%;
	left: -20%;
	bottom: 0;
    z-index: 1;    
}

.ingridient.ingridient-big { margin-top: 5%; }

.ingridient-img,
.ingridient-desc{
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}
.ingridient.ingridient-2 .ingridient-img,
.ingridient.ingridient-3 .ingridient-img,
.ingridient.ingridient-4 .ingridient-img{
    width: 60%;
    padding-left: 20%;
}
.ingridient.ingridient-2 .ingridient-desc,
.ingridient.ingridient-3 .ingridient-desc,
.ingridient.ingridient-4 .ingridient-desc{
    width: 34%;
    margin-left: -5%;
}
.ingridient-big .head{
	padding: 0 12%;
    margin-top: -7%;
}
.ingridient-big .text{
    padding: 5% 20%;
    text-align: justify;
}

.ingridient-desc .mini-title{
	padding: 0 40% 0 0;
    text-align: left;
}
.ingridient-2 .ingridient-desc .text,
.ingridient-3 .ingridient-desc .text,
.ingridient-4 .ingridient-desc .text{
    padding: 5% 57% 5% 0;
}

.ingridient.ingridient-2{margin-left: -49%;margin-top: -30%;}
.ingridient.ingridient-3{margin-left: -54%;margin-top: 10%;}
.ingridient.ingridient-4{margin-left: -103%;margin-top: 4%;}

.ingridients-all{
    padding-left:50%; 
    position:relative;
    z-index: 1;
    margin-bottom:5%
}

.ingridient-big .ingridient-img img{
    width: 120%;
    margin-left: -20%;
}

.ingridient{
    z-index: 2;
    position: relative;
}


/*4*/

/*5*/
.fifth-block{
	width: 100%;
	max-height: 800px;
	background-image: url("../img/5.jpg"); 
	background-color: #fff;
	background-size: cover;
	background-position: center;
    background-repeat: repeat;
}

.fifth-box{
    text-align: left;
    margin: 15% 0 20%;
    display: block;
    position: relative;
    width: 50%;
}

.fifth-box .text{
	padding: 6% 12%;
    display: block;
    position: relative;
}

.fifth-box .head{
	padding: 6% 12%;
    display: block;
    position: relative;
}


.sixth-box{
    text-align: center;
    margin: 5% 0 10%;
    display: block;
    position: relative;
}

.fsixth-box .text{

}

.sixth-box .head{
	padding: 3% 0%;

}
.products{margin: 0 6%;}
.block-25{
	float: left;
    margin: 6% auto;
    width:25%;
}
.block-25:first-child{margin-left: 0;}
.block-25:last-child{margin-right: 0;}
.block-25 img{ margin-bottom: 30px;}

.block-25 a{
    display: block;
    opacity: 1;
    text-decoration: none;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.block-25 a:hover img{
    -moz-box-shadow: 0 0 10px #ccc; 
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 0 0 10px #ccc; 
    opacity: .7;

}


a.black-url{
	color: #000;
    border-bottom: 1px dashed #000;
    text-decoration: none;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
    text-decoration: none;
    outline: none;
    display: inline;
}

a.black-url:hover{
	color: #383838;
}

.footer{
    width: 120%;
    margin-left: -10%;
    background: #555;
    -webkit-border-radius: 100% 100% 0 0;
    -moz-border-radius: 100% 100% 0 0;
    border-radius: 100% 100% 0 0;
}
.footer .menuContent{ margin: 6% 0 4% }
.footer .menuLink{
	color: #d4d4d4;
	opacity: 1;
}

.footer .menuLink:hover{
	color: #fff;
	opacity: 1;
}

.copyright {margin: 0 auto; text-align: center; color: #d4d4d4; margin-bottom: 15px; }

.lang {
    position: absolute;
    top: 140px;
    right: 10%;
}
.lang-link{
    font-size: 18px;
    opacity: 0.5;
    color: #000;
    letter-spacing: 1px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.lang-link:hover, .lang-link.active {
    color: #000;
    opacity: 1;
}

.arrow {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}
.arrow a img {
    opacity: .8;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
    outline: none;
}
.arrow a:hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*products*/



/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  /* -webkit-transition-property: -webkit-transform, opacity; */
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  /* transition-property:         transform, opacity; */
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

#options {
  padding-bottom: 1.0em;
}

#options h3 {
  margin-bottom: 0.2em;
  font-size: 15px;
}

#options h4 { 
  font-weight: bold;
}

#options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.5em;
}

#options li {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;

}
#options li a {
  display: block;
  padding: 0;
  color: #000;
  width: 100px;
  text-align: center;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  border-bottom: 1px solid #fff;
}

#options li a:hover,
#options li a:active,
#options li a.selected {
  border-bottom: 1px solid #000;
}

/* Combination filter options*/

#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}

#options .option-combo h2,
#options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

/*products*/

.prod-text{
    z-index: 2;
    text-align: center;
    width: 35%;
    color: #000;
    position: absolute;
    bottom: 20%;
    left: 4%;
}

.prod-text .text {
    text-align: center;
}
.prod-text .mini-title{
    font-size: 18px;
}
.prod-text .text{
    font-size: 12px;
}
.element {
  width: 50%;
  max-width: 550px;
  height:auto;
  padding: 25px 15px!important;
}
.element a{
    display: block;
    position: relative;
    padding-bottom: 60.3636364%;
    overflow: hidden;
    z-index: 4;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
}

.element a:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    opacity: .7;
}

.element a img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.element a:before {
    content: "";
    position: absolute;
    top: 43%;
    right: 30%;
    background: orange;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: rotate(35deg);
    opacity: .85;
}

/*products*/

.page-bg img {
    width: 100%;
}

.soc-block {
    background-color: #e0e0e0;
    margin: 5% 0 7%;
    padding: 3% 0;
}

.soc-block .mini-title {
    text-transform: uppercase;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.soc-icon {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.soc-icon i {
    font-size: 20px;
    color: #000;
}

.soc-icon a {
    padding: 0 5%;
    opacity: .8;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
}
.soc-icon a:hover {
    opacity: 1;
}

.soc-icon img {
    max-height: 14px;
}

/*loader products*/
#circleG{
    width:54px;
    margin:auto;
}

.circleG{
    background-color:rgb(255,255,255);
    float:left;
    height:10px;
    width:10px;
    margin:0 4px;
    animation-name:bounce_circleG;
        -o-animation-name:bounce_circleG;
        -ms-animation-name:bounce_circleG;
        -webkit-animation-name:bounce_circleG;
        -moz-animation-name:bounce_circleG;
    animation-duration:2.24s;
        -o-animation-duration:2.24s;
        -ms-animation-duration:2.24s;
        -webkit-animation-duration:2.24s;
        -moz-animation-duration:2.24s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
    border-radius:10px;
        -o-border-radius:10px;
        -ms-border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
}

#circleG_1{
    animation-delay:0.45s;
        -o-animation-delay:0.45s;
        -ms-animation-delay:0.45s;
        -webkit-animation-delay:0.45s;
        -moz-animation-delay:0.45s;
}

#circleG_2{
    animation-delay:1.05s;
        -o-animation-delay:1.05s;
        -ms-animation-delay:1.05s;
        -webkit-animation-delay:1.05s;
        -moz-animation-delay:1.05s;
}

#circleG_3{
    animation-delay:1.35s;
        -o-animation-delay:1.35s;
        -ms-animation-delay:1.35s;
        -webkit-animation-delay:1.35s;
        -moz-animation-delay:1.35s;
}

@keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(0,0,0);
    }

    100%{}
}

@-o-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(0,0,0);
    }

    100%{}
}

@-ms-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(0,0,0);
    }

    100%{}
}

@-webkit-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(0,0,0);
    }

    100%{}
}

@-moz-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(0,0,0);
    }

    100%{}
}

/*loader products*/

.load-item .text{
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
}

/*one product*/
.prod-info .sub-title{
    margin-top: 25px;
}
.prod-info .text{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 22px;
    padding: 40px 0 60px;
}

.product-desc .text,
.product-desc .mini-title{max-width: 600px;}

.product-desc .text p {
    margin: 0 0 12px;
    line-height: 28px;
}
.product-desc .mini-title{
    padding: 20px 0 50px;
    text-align: center;
}
.product-slide {
    padding-right: 15px;
}
.product-desc{
    padding-left: 15px;
}

.slider-for{
    margin: 0 auto;
}
.slider-nav {
    margin: 20px auto 35px;
}
.slick-slide{outline: none!important;}
.slider-nav .slick-slide { 
    padding: 0 5px; 
    opacity: 1;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.slider-nav img.slick-slide:hover,
.slider-nav img.slick-slide.slick-current.slick-active { opacity: .6;}

.product-information{
    background-color: #e0e0e0;
    max-width: 1200px;
    padding: 2% 4%;
}
.text.strong{text-transform: uppercase;}
.text.grey{color: #636161;text-decoration: underline;}

.info-all .left{width: 30%;}
.info-all .right{width: 70%;}

.info-all .text.strong,
.info-all .text.grey{
    padding: 10px 0;
}
.info-all .text.strong:last-child,
.info-all .text.grey:last-child{
    padding: 10px 0 0;
}

.all-ingr{padding-top: 15px;}
.all-ingr .text.grey{    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px 10px 0;
    float: left;
}

/*one product*/

/*contact*/
.contact-info .text,
.contacts-form .text {
    text-transform: uppercase;
    margin: 20px 0;
}
.contact-info .right .text{
    color: #636161;
    text-transform: none;
}
.contact-info .right .text a{
    color: #636161;
    text-transform: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border-bottom: 1px solid #fff;
}
.contact-info .right .text a:hover{
    border-bottom: 1px solid #636161;
}

.contact-info .left{width: 30%}
.contact-info .right{width: 70%}

.contact-all hr{margin-bottom: 25px;}


#contact_form .form-control,
#contact_form_2 .form-control {
    margin-bottom: 20px;
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 14px;
    color: #131313;
    -moz-box-sizing: border-box;
    height: 100%;
    width: 70%;
    max-width: 70%;
    max-height: 200px;
    outline: none;
}

#contact_form .contact-form-submit,
#contact_form_2 .contact-form-submit {
    border: 1px solid #000;
    color: #fff;
    padding: 10px 20px;
    background-color: #000;
    width: 70%;
    outline: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#contact_form .contact-form-submit:hover,
#contact_form_2 .contact-form-submit:hover {
    background-color: #fff;
    color: #000;
}

.contacts-form .text{
    margin-left: 15%;
}

.action-block,
.action-inform {
    margin: 0;
    padding: 5% 0;
}

.action-block .mini-title {
    text-transform: uppercase;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.action-button{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

.action-button a{
    border: 1px solid #ef6c00;
    color: #fff;
    padding: 10px 50px;
    background-color: #ef6c00;
    width: 70%;
    outline: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.action-button a:hover{
    color: #ef6c00;
    background-color: #fff; 
}

.action-inform .mini-title {
    text-transform: uppercase;
    padding-bottom: 50px;
}
#contact_form_2 {
    padding-bottom: 30px;
}
/*contact*/



/*map*/
#map {height: 400px;margin: -5% 0;}
/*map*/
/*modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:999; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    
}
.close img{
    width: 20px;
    height: auto;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px;
    background-image: url(../img/modal.jpg);
    background-color: #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    min-height: 200px;
    width: 100%;
    height: auto;
}

.modal-body {padding: 30px 15%;}
.modal-body p.text {
    padding-top: 15px;
}

.modal-footer {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

.modal-footer a {
    padding: 10px 45px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    display: initial;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
    outline: none;
    opacity: .7;
}

.modal-footer a:hover {
    opacity: 1;
}
/*modal*/



@media screen and (max-width: 1600px) {

.block-25 img {width: 90%}
.ingridient.ingridient-2 {  margin-left: -65%; }
.slider-for, .slider-nav {width: 80%}
}

@media screen and (max-width: 1440px) {


.ingridient-big .ingridient-img img { width: 100%; margin-left: -40%; }
.ingridient.ingridient-2 .ingridient-img, .ingridient.ingridient-3 .ingridient-img, .ingridient.ingridient-4 .ingridient-img {width: 30%; padding: 0}
.ingridient.ingridient-2 .ingridient-desc, .ingridient.ingridient-3 .ingridient-desc, .ingridient.ingridient-4 .ingridient-desc {width:50%; margin: 0}
.ingridient.ingridient-4 { margin-left: -65%; }
.ingridient.ingridient-3 { margin-left: -35%; }
.ingridient.ingridient-2 { margin-left: -45%; }

.three-block {max-height: 600px;}

.made {margin: 5% 0}
.made-box .text { padding: 7% 12% }
.made-img img { width: 100%; margin-right: -60%; }

.fifth-box .text { padding: 6%; }
.products { margin: 0; }
.block-25 { margin: 6% auto 3% }
.sixth-box {margin: 5% 0 5%; }
.copyright { margin-bottom: 0}
.footer .menuContent { margin: 4% 0 }
.ingridient-big .text { padding: 5% 12%; }
.ingridient-img img { width: 230px; }
.fourth-block .circle {width: 70%; padding-bottom: 70%;}
.block-25 img {width: 85%}
.ingridient-big .head {margin-top: -12%;}

.page-bg img { width: 120%; margin-left: -10%; }




}

@media screen and (max-width: 1360px) {

}

@media screen and (max-width: 1280px) {
.ingridient-big .text { padding: 5% 3%; }
.prod-text {bottom: 18%}
.three-block { max-height: 540px; }
.made-box .head { padding-top: 0%; }

}

@media screen and (max-width: 1200px) {

.prod-text .mini-title { font-size: 14px; }
.prod-text .text { font-size: 10px; }

}

@media screen and (max-width: 1100px) {
.ingridient.ingridient-big { margin-top: 0; }
.ingridient-big .head {margin-top: -20%;}
.fourth-block .circle { width: 80%;  padding-bottom: 80%; }
.ingridient.ingridient-2 .ingridient-desc, .ingridient.ingridient-3 .ingridient-desc, .ingridient.ingridient-4 .ingridient-desc { width: 50%; margin-left: 50px; }
.ingridient.ingridient-2 { margin-left: -30%; }
.lang {top: 140px; right: 5%;}
.three-block { max-height: 450px; }
.element { padding: 15px!important; }

.slider-for, .slider-nav {width: 100%}

}

@media screen and (max-width: 1023px) {
.cooking-title, .cooking-text { display: block; width: 50%; margin: 0 auto; }
.cooking-text { width: 100% }
.box-block { padding: 0%; margin: 4%; float: none; }
.cooking { padding: 10% 0 7%;}
.ingridient-big .head { margin-top: 0; }
.ingridients-all{padding: 0; margin: 0}
.ingridient.ingridient-2{margin: 0}
.ingridient.ingridient-3{margin: 0}
.ingridient.ingridient-4{margin: 0}
.circle{display: none;}
.ingridient.ingridient-2 .ingridient-desc, .ingridient.ingridient-3 .ingridient-desc, .ingridient.ingridient-4 .ingridient-desc {
    width: 48%;
    margin-left: 0;
}
.ingridient-2 .ingridient-desc .text, .ingridient-3 .ingridient-desc .text, .ingridient-4 .ingridient-desc .text {
    padding: 5% 20% 5% 3%;
}
.ingridient.ingridient-2 .ingridient-img, .ingridient.ingridient-3 .ingridient-img, .ingridient.ingridient-4 .ingridient-img {
    width: 48%;}
.ingridient-desc .mini-title { padding: 0 3%;; text-align: left;}
.lang { top: 3%;  right: 5%; }
.made-img img { width: 135%; }
.prod-text .mini-title { font-size: 12px; }
.prod-text .text { font-size: 8px; }

.product-desc .text p { line-height: 16px; }
.prod-info .text { padding: 20px 0 30px; }
.product-desc .mini-title {padding: 0 0 15px}

.contact-info .right { width: 55%; }
.contact-info .left { width: 45%; }
#contact_form .form-control, #contact_form_2 .form-control { padding: 10px; }
#map{height: 225px;}

}

@media screen and (max-width: 767px) {
.second-block {width: 100%;max-height: 800px; min-height: 100%; }
.cooking { padding: 14% 0;  width: 100%;  margin: 10% 0 0; }
.cooking-title, .cooking-text { width: 80%; }

.three-block {background-image: none; background-color: #e8e8e8; max-height: 100%;}
.made-box, .made-img { width: 100%; }
.made-img img {width: 80%;margin: 0 auto;}

.ingridient-img, .ingridient-desc { display: block;width: 100%;}
.ingridient-big .ingridient-img img {width: 90%; margin: 0 auto;}
.ingridient.ingridient-2 .ingridient-img, .ingridient.ingridient-3 .ingridient-img, .ingridient.ingridient-4 .ingridient-img {
    width: 100%;
}
.ingridient.ingridient-2 .ingridient-desc, .ingridient.ingridient-3 .ingridient-desc, .ingridient.ingridient-4 .ingridient-desc {
    width: 100%;
    margin: 0 auto 15px;
}
.ingridient-desc .mini-title { padding: 0 3%; text-align: center; }
.ingridient-2 .ingridient-desc .text, .ingridient-3 .ingridient-desc .text, .ingridient-4 .ingridient-desc .text {
    padding: 5%;
    text-align: center;
}

.block-25 {float: left;margin: 6% auto 3%; width: 50%; }
.block-25 img { margin-bottom: 5px; }
.products {margin: 0 0 15px 0;}
.lang {top: 2%; right: 2%; }
.arrow { bottom: -20px;}

.prod-text { bottom: 12%; }

.prod-info .text { width: 100%; }

.left.product-slide,
.right.product-desc{width: 100%;}

.product-slide,
.product-desc {padding:0;}

.product-desc {padding-bottom: 15px;}



}

@media screen and (max-width: 640px) {
#options li a {width: 100%}
.element {width: 100%;padding: 15px!important;}

.contact-info .right { width: 65%; }
.contact-info .left { width: 35%; }
.left.all1 { width: 100%; }
.right.contacts-form { width: 100%; }
.action-inform .left,
.action-inform .right { width: 100%; }
.action-inform .mini-title {padding-bottom: 5px;}

.action-button { display: block; padding: 30px 0;  width: 100%; height: 100%; }
.action-block .mini-title{width: 100%}


}


@media screen and (max-width: 600px){
    .product-information .left,
.product-information .right{width: 100%}

.right.all-ingridients{padding-top: 20px;}
.info-all{padding-top: 15px}
.info-all .left{width: 30%}
.info-all .right{width: 70%;}
.info-all .text.strong, .info-all .text.grey { padding: 5px 0; }

.all-ingr .text.grey {padding: 5px 10px 5px 0; }
.product-information { margin-bottom: 30px }
.all-ingr { padding-top: 10px; }

.modal-content { width: 90%; }
}

@media screen and (max-width: 480px) {
.contact-info .right { width: 50%; }
.contact-info .left { width: 50%; }

}
@media screen and (max-width: 400px) {
.block-25 {float: left; margin: 6% auto 3%;width: 100%;}

}

