@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #000;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}


a:hover, a:focus {
	color: #fff;
}

section {
	padding: 1em;
	text-align: center;
}

/* helping adds*/
.clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden;
}
.juster {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.vfix {
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}
.cfix:after {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden;
    display: block;
    content: '';
}


/* menu */
.menu { display: block; margin-top: 150px; margin-bottom: 15px; text-align: center;}
.menuButton {display: none;}
.menuList {padding-top: 10px; padding-left: 0; font-size: 0;}
.menuListItem { display: inline-block; vertical-align: middle; margin-right: 60px;}
.menuListItem:last-child {margin-right: 0;}
.menuLink { font-size: 18px; opacity: 0.5; color: #000; letter-spacing: 1px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.menuLink:hover,
.menuLink.active { color: #000; opacity: 1;}

@media screen and (max-width: 700px) {

        .menuButton {
            position: relative;
            display:block;
            width: 22px;
            height:22px;
            cursor: pointer;
            outline: none;
            user-select: none;
            background: none;
            border: 0;
            top:-3px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .menuButton:before {
            content:'';
            position: absolute;
            left: -10px;
            top: -10px;
            bottom: -10px;
            right: -10px;
        }

        .menuIcon,
        .menuIcon:before,
        .menuIcon:after {
            display: block;
            width: 22px;
            height: 3px;
            background: #241f23;
            position: relative;
        }
        .menuIcon {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1px;
        }
        .menuIcon:before,
        .menuIcon:after {
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            -ms-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
            position: absolute;
            left: 0;
            content: '';
            -webkit-transform-origin: 1px center;
            transform-origin: 1px center;
        }
        .menuIcon:before {
            top: -7px;
        }
        .menuIcon:after {
            top: 7px;
        }
        .open .menuButton {
            -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
        }
        .open .menuIcon {    background: transparent;}
        .open .menuIcon:before,
        .open .menuIcon:after {
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            top: 0;
        }
        .open .menuIcon:before {
            -moz-transform: rotate3d(0, 0, 1, 45deg);
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            -o-transform: rotate3d(0, 0, 1, 45deg);
            -ms-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
        }
        .open .menuIcon:after {
            -moz-transform: rotate3d(0, 0, 1, -45deg);
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            -o-transform: rotate3d(0, 0, 1, -45deg);
            -ms-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
        }
        .menuContent {
            display: none;
            position: absolute;
            left: 0;
            top: 40px;
            right: 0;
            background: #fff;
            z-index: 999;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .menuList {
            border-top: 1px solid #e5e5e5;
            position: relative;
            padding-top: 0;
        }
        .menuListItem {
            display: block;
            border-bottom: 1px solid #e5e5e5;
            margin: 0;
        }
        .menuLink {
            display: block;
            padding: 20px 6%;
            text-align: left;
            color:#444;
            opacity: 1;
        }
}
