@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #000;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Open Sans', Arial, sans-serif;

}

a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}


a:hover, a:focus {
	color: #fff;
}

section {
	padding: 1em;
	text-align: center;
}

/* helping adds*/
.clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden;
}
.juster {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.vfix {
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}
.cfix:after {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden;
    display: block;
    content: '';
}


/* menu */
.menu { display: block; margin-top: 130px; margin-bottom: 50px; text-align: center;}
.menuButton {display: none;}
.menuList {padding-top: 10px; padding-left: 0; font-size: 0;}
.menuListItem { display: inline-block; vertical-align: middle; margin-right: 60px;}
.menuListItem:last-child {margin-right: 0;}
.menuLink { font-size: 18px; opacity: 0.5; color: #000; letter-spacing: 1px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.menuLink:hover,
.menuLink.active { color: #000; opacity: 1;}

@media screen and (max-width: 700px) {

        .menuButton {
            position: absolute;
            display:block;
            width: 22px;
            height:22px;
            cursor: pointer;
            outline: none;
            user-select: none;
            background: none;
            border: 0;
            top: 80px;
            right: 10px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .menuButton:before {
            content:'';
            position: absolute;
            left: -10px;
            top: -10px;
            bottom: -10px;
            right: -10px;
        }

        .menuIcon,
        .menuIcon:before,
        .menuIcon:after {
            display: block;
            width: 22px;
            height: 3px;
            background: #241f23;
            position: relative;
        }
        .menuIcon {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1px;
        }
        .menuIcon:before,
        .menuIcon:after {
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            -ms-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
            position: absolute;
            left: 0;
            content: '';
            -webkit-transform-origin: 1px center;
            transform-origin: 1px center;
        }
        .menuIcon:before {
            top: -7px;
        }
        .menuIcon:after {
            top: 7px;
        }
        .open .menuButton {
            -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
        }
        .open .menuIcon {    background: transparent;}
        .open .menuIcon:before,
        .open .menuIcon:after {
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            top: 0;
        }
        .open .menuIcon:before {
            -moz-transform: rotate3d(0, 0, 1, 45deg);
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            -o-transform: rotate3d(0, 0, 1, 45deg);
            -ms-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
        }
        .open .menuIcon:after {
            -moz-transform: rotate3d(0, 0, 1, -45deg);
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            -o-transform: rotate3d(0, 0, 1, -45deg);
            -ms-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
        }
        .menuContent {
            display: none;
            position: absolute;
            left: 0;
            top: 120px;
            right: 0;
            background: #fff;
            z-index: 999;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .menuList {
            border-top: 1px solid #e5e5e5;
            position: relative;
            padding-top: 0;
        }
        .menuListItem {
            display: block;
            border-bottom: 1px solid #e5e5e5;
            margin: 0;
        }
        .menuLink {
            display: block;
            padding: 20px 6%;
            text-align: left;
            color:#444;
            opacity: 1;
        }
        .footer .menuContent {display: none;opacity: 0;}
}

.mbox-full{
	width: 100%;
	margin:0;
	padding: 0;
	
	max-height: 840px;
	position: relative;
}
.mbox{
	width: 88%;
	max-width: 1440px;
	margin:0 auto;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.left {
    width: 50%;
    height: auto;
    padding: 10% 5%;
    float: left;
    position: relative;
}
.right {
    width: 50%;
    height: auto;
    padding: 10% 5%;    
    float: right;
    position: relative;
}
.center{
	text-align: center;
	margin: 0 auto;
}

.text-left{text-align: left; float: left}

.title{ font-size: 72px; display: block;}
.head{font-size: 55px; display: block;}
.sub-title{ font-size: 38px; display: block;}
.mini-title{font-size: 24px; display: block;}
.text{font-size: 16px; display: block;}
@media screen and (max-width: 1440px) {

.title{ font-size: 55px;}
.head{font-size: 42px;}
.sub-title{ font-size: 32px;}
.mini-title{font-size: 22px}
.text{font-size: 14px;}

}
@media screen and (max-width: 768px) {
	
.title{ font-size: 32px;}
.head{font-size: 24px;}
.sub-title{ font-size: 18px;}
.mini-title{font-size: 16px}
.text{font-size: 12px;}


}

/*slider*/
.top-slider img{ width: 100%; height: auto;}
.top-slider.slick-dotted.slick-slider{ margin-bottom: 0px!important}
.top-slider .slick-dots{ bottom: 0!important; }
.slick-initialized .slick-slide{position: relative;}
.top-slider .slick-dots li.slick-active button:before{opacity: 1}
.top-slider .slick-dots li.slick-active button:before,
.top-slider .slick-dots li button:before {color: #fff;}

.slider-text{color: white; position: absolute; bottom: 20%; left: 0; right: 0; }


/*second block*/
.second-block{
	width: 100%;
	max-height: 800px;
	background-image: url("../img/second-block.jpg"); 
	background-color: #ccc;
	background-size: cover;
	background-position: center;
    background-repeat: repeat;
}

.border-block{
	border: 1px solid;
    padding: 5% 10%;
    margin: 12% 0;
}

.box-block{
	padding: 0% 0%;
    margin: 12% 12%;
    text-align: left;
    float: left;
}

/*three block*/
.three-block{
	width: 100%;
	max-height: 800px;
	background-image: url("../img/three-block.png"); 
	background-color: rgba(255,255,255,0);
	background-size: cover;
	background-position: center;
    background-repeat: repeat;
    margin-top:-50px;
}
.img-cicle{
	position: absolute;
    right: -5%;
    top: 10%;
}
.img-cicle img{
	width: 100%;
}

.three-box .head{
	margin-bottom: 5%;
}

.three-box .text{
	padding: 0 12%;
}

.fourth-block{
	width: 100%;
	min-height: 400px;
	background-color: rgba(255,255,255,0);
	display: block;
	position: relative;

}
.fourth-block .circle{
	width: 1300px;
	height: 1300px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 1px solid #f00;
	position: absolute;
	top: 30%;
	left: -7%;
	bottom: 0;
    
}
.ingridients-1{ display: block;position: relative; margin: 14% 0 900px; }
.fourth-block .ingridients-1 .left img{ position: absolute; top: -20%; left: -14%;}
.fourth-block .ingridients-1 .right .text{padding: 5% 20%; text-align: left;}

.ingridients-2{position: absolute; top: 38%; right: -6%; }
.fourth-block .ingridients-2 .left img{ float: right;}
.fourth-block .ingridients-2 .right {display: block;position: relative;padding: 16% 12% 10% 0}
.fourth-block .ingridients-2 .right .text{ text-align: left;width: 50%;}
.fourth-block .ingridients-2 .right .mini-title{ text-align: left; margin-bottom: 20px;}

.ingridients-3{position: absolute; top: 59%; right: -3%; }
.fourth-block .ingridients-3 .left img{ float: right;}
.fourth-block .ingridients-3 .right {display: block;position: relative;padding: 16% 12% 10% 0}
.fourth-block .ingridients-3 .right .text{ text-align: left;width: 50%;}
.fourth-block .ingridients-3 .right .mini-title{ text-align: left; margin-bottom: 20px;}

.ingridients-4{position: absolute; top: 75%; right: 15%; }
.fourth-block .ingridients-4 .left img{ float: right;}
.fourth-block .ingridients-4 .right {display: block;position: relative;padding: 16% 12% 10% 0}
.fourth-block .ingridients-4 .right .text{ text-align: left;width: 50%;}
.fourth-block .ingridients-4 .right .mini-title{ text-align: left; margin-bottom: 20px;}


/*4*/

/*5*/
.fifth-block{
	width: 100%;
	max-height: 800px;
	background-image: url("../img/5.jpg"); 
	background-color: #fff;
	background-size: cover;
	background-position: center;
    background-repeat: repeat;
}

.fifth-box{
    text-align: left;
    margin: 15% 0 20%;
    display: block;
    position: relative;
    width: 50%;
}

.fifth-box .text{
	padding: 6% 12%;
    display: block;
    position: relative;
}

.fifth-box .head{
	padding: 6% 12%;
    display: block;
    position: relative;
}


.sixth-box{
    text-align: center;
    margin: 5% 0 10%;
    display: block;
    position: relative;
}

.fsixth-box .text{

}

.sixth-box .head{
	padding: 3% 0%;

}
.products{margin: 0 6%;}
.block-25{
	float: left;
    margin: 6% auto;
    width:25%;
}
.block-25:first-child{margin-left: 0;}
.block-25:last-child{margin-right: 0;}
.block-25 img{ margin-bottom: 30px;}

a.black-url{
	color: #000;
	border: 0;
    text-decoration: none;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

a.black-url:hover{
	color: #383838;
}

.footer{
    width: 120%;
    margin-left: -10%;
    background: #555;
    -webkit-border-radius: 100% 100% 0 0;
    -moz-border-radius: 100% 100% 0 0;
    border-radius: 100% 100% 0 0;
}
.footer .menuContent{ margin: 6% 0 4% }
.footer .menuLink{
	color: #d4d4d4;
	opacity: 1;
}

.footer .menuLink:hover{
	color: #fff;
	opacity: 1;
}

.copyright {margin: 0 auto; text-align: center; color: #d4d4d4; margin-bottom: 15px; }


@media screen and (max-width: 1600px) {

.img-cicle img{ width: 80%; }
.img-cicle{ right: -10%; top: 10%; }
.three-box .head { margin-bottom: 10%; }
.block-25 img {width: 90%}
}

@media screen and (max-width: 1440px) {
	
.img-cicle img{ width: 60%; }
.img-cicle{ right: -10%; top: 0; }

}

@media screen and (max-width: 1360px) {
	
.block-25 img {width: 85%}

}

@media screen and (max-width: 1200px) {
	
.products{margin: 0}
.fifth-box .text {padding: 6% 0;}
.fifth-box .head {padding: 6% 0;}
.left {padding: 10% 0}
.three-box .text { padding: 0;}
.three-box .head { margin-bottom: 10%; text-align: left;}

}

@media screen and (max-width: 1100px) {
.img-cicle {right: -23%; top: 5%;}
.img-cicle img {width: 45%;}

}

